<div class="container-fluid" style="margin-bottom: 20px;">
    <div class="row justify-content-center mt-3">
        <div class="col-10 rounded colores">
            <div id="carouselExampleControls" class="carousel slide pt-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/procesadores.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Procesadores">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/chasisFondo.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Chasises">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/gpu.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Graficas">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ram.jpg" class="d-block fotosCarrusel" alt="..." routerLink="RAM">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ASUS-B450-00.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Tarjetas_Madre">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/discoduro.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Discos_duros">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/fpoder.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Fuentes_Poder">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/disipador.jpg" class="d-block fotosCarrusel" alt="..." routerLink="Refrigeracion">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon btnCarrusel" aria-hidden="true" ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon btnCarrusel" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
            <h1 class="text-center mt-4">Nosotros</h1>
                <div class="row m-4">
                    <div class="col-12 rounded" style="background-color: #0f323fb3;">
                        <h2 class="text-center">Misión</h2>
                        <p class="alineacionCentro" >Brindar componentes e incluso equipos de cómputo que satisfagan las necesidades y especificaciones del cliente, ofreciendo un servicio de calidad además de una atención que cumpla con los estándares propuestos. Todo esto a un precio bajo y alcanzable, con el fin de ayudar a cubrir la gran demanda que hay de computadoras en la era tecnológica.</p>
                    </div>
                    <div class="col-12 " style="background-color: #0e2e3ad6;">
                        <h2 class="text-center mt-3">Visión</h2>
                        <p class="alineacionCentro">Ser una de las empresas más demandadas en el mercado de ventas computadoras de Bogotá para el año 2025, siendo reconocidos por un servicio de calidad y a buen precio; llegando a tener contratos tanto con un gran número de personas como con grandes empresas.</p>
                    </div>
                      <h2 class="text-center mt-3">Objetivos</h2>
                      <div class="col-md-6">
                          <p class="alineacionCentro">Alcanzar en el primer año mas de $100 millones en ventas.</p>
                      </div>
                      <div class="col-md-6">
                          <p class="alineacionCentro">Lograr que mas del 80% de nuestros clientes queden satisfechos con el producto y nos recomienden.</p>
                      </div> 
              </div>
        </div>    
    </div>
</div>
