<div class="container d-flex h-100 text-center text-white">
    <div class="cover-container d-flex w-100 h-100 flex-column div404">
        <main class="px-3">
            <h1>Error 404</h1>
            <p class="lead">Lo sentimos, la pagina que estas buscando no ha sido encontrada.</p>
            <p class="lead">
            <a routerLink="/" class="btn btn-lg btn-secondary fw-bold bg-black" style="background-color: #3f748c;">Inicio</a>
            </p>
        </main>
    </div>
</div>
    

    