.colores{
    background-color: #0c2833d4; 
    border: 1px solid #3f748c;
    color: #fff;
}

#dir, #nTarjeta, #nPropietario {
    border: none;
    padding: 5px 20px;
    display: block;
    font-size: 16px;
    margin: 15px;
    width: 75%;
    border: 1px solid #285155;
    border-radius: 25px;
  }

  #ven, #cvv{
    border: none;
    padding: 5px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    margin-left: 15px;
    border: 1px solid #285155;
    border-radius: 25px; 
  }

  input[type=submit]{
    background-color: #3f748c;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 47%;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none; 
  margin: 0; 
}

  input[type=submit]:hover{
    background-color: #39ace7;
  }